<div class="flex h-screen w-screen items-center justify-center">
  <div class="bg-gray-100 shadow-md rounded-lg p-8 w-1/2 ">
    <h2 class="text-2xl font-bold mb-4 text-center text-gray-800">Location Form</h2>
    <div class="flex flex-col space-y-4">
        <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraName"> Name</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraName" type="text" placeholder="Enter name">
        </div>
        <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraDescription">Description</label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraDescription" placeholder="Enter description"></textarea>
        </div>
        <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraImage">Image</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraImage" type="file">
        </div>
        <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraPrice">Price</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraPrice" type="text" placeholder="Enter price">
        </div>
        <div class="flex justify-center">
            <button class=" w-40 bg-[#886f4f] hover:bg-[#5f4524] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Submit
            </button>
        </div>
    </div>
</div>
</div>