<div class="flex justify-center items-center mt-5">
  <h1 class="font-bold text-3xl md:text-4xl lg:text-x text-black">
    Pending Request
  </h1>
</div>

<div *ngFor="let user of pendingUser" class="bg-white rounded-lg p-6 shadow-md">
  <div class="flex items-center space-x-4">
    <img src="../../../../assets/images/user (1).png" alt="User Image" class="w-16 h-16 rounded-full" />
    <div>
      <h2 class="text-lg font-medium text-gray-800">{{user.username}}</h2>
      <p class="text-gray-800">{{user.email}}</p>
    </div>
  </div>
  <div class="mt-4 flex justify-end space-x-4">
    <button
      (click)="approve(user._id)"
      class="bg-[#b98d53] text-white hover:bg-[#7e5d31] font-semibold py-2 px-4 rounded"
    >
      Approve
    </button>
    <button
      class="bg-[#694d28] text-white hover:bg-[#473115] font-semibold py-2 px-4 rounded"
    >
      Decline
    </button>
  </div>
</div>
