<div class="container mx-auto px-4 mb-12">
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <ng-container *ngFor="let loc of locations">
        <div class="col-md-4">
          <div class="card mb-8 shadow-lg rounded-lg overflow-hidden bg-white">
            <img class="card-img-top w-full h-48 object-cover" [src]="loc?.Image" alt="{{loc?.name}}">
            <div class="card-body py-4 px-5">
              <h5 class="card-title text-xl font-semibold text-gray-800 mb-3">{{loc?.name}}</h5>
              <p class="card-text text-base text-gray-700 mb-3">{{loc?.Description | sui }}</p>
              <p class="card-text text-sm text-gray-500">Price: ₹{{loc?.price}}</p>
              <button type="button" class="block w-full bg-[#b98d53] hover:bg-[#4e3b23] text-white font-semibold py-2 px-4 rounded-lg transition duration-200">
                Update
              </button>
              
              <button type="button" class="block w-full bg-[#b98d53] hover:bg-[#4e3b23] text-white font-semibold py-2 px-4 rounded-lg transition duration-200">
                Delete
              </button>


            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  