<app-alert *ngIf="showSuccess" class="absolute h-screen w-screen"></app-alert>

<div class="w-screen h-screen bg-[#a4beba]">
  <div class="flex h-screen w-screen items-center justify-center">
    <div class="bg-gray-100 shadow-md rounded-lg p-8 w-1/2" style="background-image: url('../../../../assets/images/pex'); background-size: cover; background-position: center;">
      <h2 class="text-2xl font-bold mb-4 text-center text-gray-800">Media Form</h2>
      <form [formGroup]="mediaForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col space-y-4">
          <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraName"> Name</label>
            <input formControlName="Name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraName" type="text" placeholder="Enter name">
          </div>
          <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraDescription">Description</label>
            <textarea formControlName="Description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraDescription" placeholder="Enter description"></textarea>
          </div>
          <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraImage">Image</label>
            <input formControlName="image" (change)="onChange($event)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraImage" type="file">
          </div>
          <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraPrice">Price</label>
            <input formControlName="price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraPrice" type="number" placeholder="Enter price">
          </div>
          <div>
            <label class="text-gray-700 text-lg font-bold mb-2" for="cameraType">Type</label>
            <select formControlName="cateringType" class="bg-white rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraType">
              <option value="photographer">photographer</option>
              <option value="videographer">videographer</option>
              <option value="Rent cameras">Rent cameras</option>
            </select>
          </div>
          <div class="flex justify-center">
            <button class="w-40 bg-[#4b8980] hover:bg-[#254f48] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
