<div class="relative flex flex-col h-screen">
  <img class="absolute inset-0 mx-auto my-auto w-3/4 h-3/4 object-cover opacity-20" src="../../../../assets/images/customcraze creations.png" alt="Background Image">

  <div class="flex-grow overflow-y-auto px-4 py-2 relative z-10">
    <div class="flex flex-col space-y-4">
      <div class="flex justify-start">
        <div class="bg-slate-200 rounded-lg p-3">
          <p class="text-sm text-gray-700">Hey there! How can I help you?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-300 fixed bottom-0 left-0 right-0 px-4 py-2 bg-white flex items-center justify-between">
    <form action="#" class="w-full flex items-center">
      <input type="text" id="message" class="flex-grow rounded-lg bg-gray-100 pl-4 pr-10 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Type a message..." />
      <button type="submit" class="ml-4 px-4 py-2 text-white bg-[#b98d53] rounded-lg hover:bg-[#6c5233]">
        Send
      </button>
    </form>
  </div>
</div>
