<div class="flex h-screen w-screen items-center justify-center">
    <div class="bg-gray-100 shadow-md rounded-lg p-8 w-1/2 ">
      <h2 class="text-2xl font-bold mb-4 text-center text-gray-800">Catering Form</h2>
      <div class="flex flex-col space-y-4">
          <div>
              <label class="text-gray-700 text-lg font-bold mb-2" for="cameraName"> Name</label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraName" type="text" placeholder="Enter name">
          </div>
          <div>
              <label class="text-gray-700 text-lg font-bold mb-2" for="cameraDescription">Description</label>
              <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraDescription" placeholder="Enter description"></textarea>
          </div>
          <div>
              <label class="text-gray-700 text-lg font-bold mb-2" for="cameraImage">Image</label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraImage" type="file">
          </div>
          <div>
              <label class="text-gray-700 text-lg font-bold mb-2" for="cameraPrice">Price</label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraPrice" type="text" placeholder="Enter price">
          </div>
          <div>
              <label class="text-gray-700 text-lg font-bold mb-2" for="cameraType">Type</label>
              <select class="bg-white rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="cameraType">
                  <option value="cusine">cusine</option>
                  <option value="chef">chef</option>
                  <option value="services">services</option>
              </select>
          </div>
          <div class="flex justify-center">
              <button class=" w-40 bg-[#886f4f] hover:bg-[#5f4524] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                  Submit
              </button>
          </div>
      </div>
  </div>

  <!-- <form class="bg-white shadow-md rounded p-8 w-full">
    <h2 class="text-lg font-bold mb-4">Chef</h2>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div>
        <label class="text-gray-700 text-sm font-bold mb-2" for="chefName">
          Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="chefName"
          type="text"
          placeholder="Enter chef name"
        />
      </div>
      <div>
        <label class="text-gray-700 text-sm font-bold mb-2" for="chefPrice">
          Price
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="chefPrice"
          type="text"
          placeholder="Enter chef price"
        />
      </div>
    </div>
    <div class="mb-4">
      <label class="text-gray-700 text-sm font-bold mb-2" for="chefDescription">
        Description
      </label>
      <textarea
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="chefDescription"
        placeholder="Enter chef description"
      ></textarea>
    </div>
    <div class="mb-4">
      <label class="text-gray-700 text-sm font-bold mb-2" for="chefImage">
        Image
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="chefImage"
        type="file"
      />
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Submit
    </button>
  </form> -->
  <!-- <form class="bg-white shadow-md rounded p-8 w-full">
    <h2 class="text-lg font-bold mb-4">Services</h2>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div>
        <label class="text-gray-700 text-sm font-bold mb-2" for="chefName">
          Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="chefName"
          type="text"
          placeholder="Enter chef name"
        />
      </div>
      <div>
        <label class="text-gray-700 text-sm font-bold mb-2" for="chefPrice">
          Price
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="chefPrice"
          type="text"
          placeholder="Enter chef price"
        />
      </div>
    </div>
    <div class="mb-4">
      <label class="text-gray-700 text-sm font-bold mb-2" for="chefDescription">
        Description
      </label>
      <textarea
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="chefDescription"
        placeholder="Enter chef description"
      ></textarea>
    </div>
    <div class="mb-4">
      <label class="text-gray-700 text-sm font-bold mb-2" for="chefImage">
        Image
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="chefImage"
        type="file"
      />
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Submit
    </button>
  </form> -->
</div>
