<div class="flex flex-col items-center justify-center w-screen h-screen border overflow-hidden relative">
    <video class="w-full h-full object-cover z-10" src="../../../assets/videos/pexels-pavel-danilyuk-8776123 (2160p).mp4" autoplay loop muted playsinline></video>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 text-white text-center">
        <h1 class="font-bold text-4xl font-leckerli">Customcraze Creations</h1>
        <p class="text-lg">Crafting Dreams,Creating Realities.</p>
    </div>
</div>


<div class="flex flex-col items-center justify-center w-screen h-1/3 bg-[#b98d53]">
    <h1 class="font-leckerli text-white text-3xl mt-8">Customcraze Creations</h1>
    <p class="text-xl text-white mt-4">Ready to Say I Do?</p>
    <p class="text-white mt-8 max-w-3xl text-center text-xl">We offer several options to fit your wedding needs & budget. Because planning your wedding should be exciting and not worrisome. Don't take a chance on forgetting any little details. We're here to pass the work off so you can get down to fun things like enjoying your family and friends and making sure your big day goes perfect.</p>
</div>

