<div class="w-full h-screen">  <nav class="h-28 flex items-center bg-[#b98d53] p-4">
  <div class="flex items-center mr-auto">
    <img src="../../../../assets/images/customcraze updated logo.png" alt="Logo" class="h-20 w-20 mr-2">
    <h1 class="text-white font-leckerli text-2xl">CustomCraze Creation</h1>
  </div>

  <div class="flex items-center space-x-4">
    <a class="text-lg text-white transition-transform duration-300 transform hover:-translate-y-1">Home</a>
    <a (click)="u()" class="text-lg text-white transition-transform duration-300 transform hover:-translate-y-1">Users</a>
    <a (click)="A()" class="text-lg text-white transition-transform duration-300 transform hover:-translate-y-1">Agencies</a>
    <a (click)="Ad()" class="text-lg text-white transition-transform duration-300 transform hover:-translate-y-1">Admin</a>
    <a (click)="p()" class="text-lg text-white transition-transform duration-300 transform hover:-translate-y-1">Pending request</a>
    <a class="text-lg text-white transition-transform duration-300 transform hover:-translate-y-1">Logout</a>
  </div>
</nav>

<div class="flex justify-center items-center mt-5">
  <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl text-black">Admin Dashboard</h1>
</div>
